
body {
font-family: Arial;
background:#111;
color:white;
margin:0;
text-align:center;
}
header, section, footer {
padding:40px 20px;
}
.btn {
padding:12px 20px;
background:white;
color:black;
text-decoration:none;
margin:10px;
display:inline-block;
border-radius:6px;
}
.whatsapp {
background:#25D366;
color:white;
}
iframe {
width:100%;
height:400px;
border:none;
}
input, textarea, button {
padding:12px;
margin:10px;
width:80%;
max-width:500px;
border-radius:5px;
border:none;
}
button {
background:#25D366;
color:white;
cursor:pointer;
}
